::-webkit-scrollbar {
	width: 16px;
	height: 16px
}

::-webkit-scrollbar-thumb {
	background-color: #c2c2c2;
	border-radius: 8px;
	min-height: 24px;
	border: 4px solid transparent;
	background-clip: content-box
}

::-webkit-scrollbar-thumb:hover {
	background-color: #7e7e7e
}

::-webkit-scrollbar-corner {
	background: transparent
}

body {
	font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
	font-variant: tabular-nums;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: tabular-nums;
	font-variant-east-asian: normal;
	font-feature-settings: "tnum", "tnum"
}

a {
	text-decoration: none;
	color: #333
}

* {
	outline: none
}

.mt-8 {
	margin-top: 8px
}

.mt-16 {
	margin-top: 16px
}

.ml-8 {
	margin-left: 8px
}

.ml-16 {
	margin-left: 16px
}

.l-auto-window,
.l-auto-window .el-tabs--top {
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: border-box
}

.l-auto-window .el-tabs--top {
	padding-top: 40px
}

.l-auto-window .el-tabs--top .el-tabs__header.is-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	margin: 0;
	z-index: 1
}

.l-auto-window .el-tabs--top .el-tabs__content,
.l-auto-window .el-tabs--top .el-tabs__content .el-tab-pane {
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: border-box
}

.l-auto-window .el-tabs--top .el-tabs__content .el-tab-pane {
	overflow: hidden auto
}

.el-form-item__content {
	font-size: 12px
}

.el-form-item__content .el-rate {
	padding-top: 4px
}

.el-form-item__content .el-slider__runway {
	margin-top: 11px
}

.el-form-item__content .el-slider__input {
	margin-top: 0
}

.el-dropdown-menu__item {
	font-size: 12px !important;
	line-height: 28px !important
}

.el-menu--display,
.el-menu--display+.el-submenu__icon-arrow {
	display: none
}

.el-table .el-switch {
	transform: scale(.8)
}

.el-tabs__item {
	outline: none;
	box-shadow: none !important;
	border-radius: 0 !important
}

.el-form-item__content .el-select {
	width: 100%
}

.el-tree-node__content:hover {
	background-color: #edf3fa
}

.lr-tree-node {
	font-size: 14px;
	color: rgba(0, 0, 0, .85)
}

.lr-tree-node i {
	font-size: 12px;
	color: #909399;
	display: inline-block;
	text-align: left;
	width: 14px;
	vertical-align: middle;
	margin-top: -2px
}

.el-tree-node.is-current>.el-tree-node__content .lr-tree-node,
.el-tree-node.is-current>.el-tree-node__content .lr-tree-node i {
	color: #409eff
}

.el-tabs__item {
	vertical-align: middle
}

.el-cascader,
.el-date-editor.el-input,
.el-date-editor.el-input__inner,
.el-input-number:not(.el-slider__input) {
	width: 100%
}

.el-dialog__wrapper {
	overflow: hidden
}

.el-upload--picture-card {
	line-height: 98px
}

.el-upload--picture-card,
.el-upload-list--picture-card .el-upload-list__item {
	border-radius: 4px;
	width: 100px;
	height: 100px
}

.el-upload-list--picture-card .el-progress {
	width: 84px
}

.el-upload-list--picture-card .el-progress .el-progress-circle {
	width: 84px !important;
	height: 84px !important
}

.el-upload-list--picture-card .el-upload-list__item-thumbnail {
	height: auto !important
}

.l-panel--tool-right .el-button-group:not(:last-child) {
	margin-right: 4px
}

.danger {
	color: #f56c6c !important
}

.el-input__inner,
.el-textarea__inner {
	padding-left: 8px
}

.l-tabs-container {
	padding-top: 11px
}

.only-tabs .el-tabs__header {
	display: none
}

.only-tabs .el-tabs--top,
.only-tabs .l-tabs-container {
	padding-top: 0 !important
}

.el-collapse {
	border: 0
}

.el-collapse-item__header {
	padding-left: 16px
}

.el-avatar {
	vertical-align: middle
}

.el-form--inline .el-date-editor--daterange {
	width: 240px !important
}

.el-form-item--mini .el-form-item__content .el-checkbox-group {
	height: 28px
}

.el-autocomplete {
	width: 100%
}

.el-color-picker__mask {
	background-color: transparent !important
}

.el-timeline .el-card__body {
	padding: 8px
}

.l-from-body {
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 24px 24px 16px 0;
	overflow: hidden auto
}

.l-from-body .el-input-number,
.l-from-body .el-select {
	width: 100%
}

.l-rblock,
.l-tab-page {
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: border-box
}

.l-tab-page {
	background-color: #f1f2f5;
	overflow: hidden auto
}

.l-title {
	height: 40px;
	width: 100%;
	line-height: 39px;
	color: #606266;
	font-size: 14px;
	padding-left: 8px
}

.l-fullscreen-dialog {
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: border-box
}

.l-fullscreen-dialog .el-dialog__header {
	display: none
}

.l-fullscreen-dialog .el-dialog__body {
	position: relative;
	height: 100%!important;
	width: 100%;
	padding: 0
}

.l-from-table-body {
	position: relative;
	box-sizing: border-box;
	padding: 8px 0 8px 0;
	overflow: hidden auto
}

.l-from-table-body,
.l-iframe {
	height: 100%;
	width: 100%
}

.l-form-panel,
.l-page-panel {
	box-sizing: border-box;
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 794px;
	overflow: hidden auto;
	background-color: #fff;
	border-radius: 4px;
	margin: auto;
	padding: 24px
}

.s-w-72 .el-input {
	width: 72px
}

.s-w-80 .el-input {
	width: 80px
}

.s-w-88 .el-input {
	width: 88px
}

.s-w-96 .el-input {
	width: 96px
}

.l-fleft-block {
	position: relative;
	float: left;
	box-sizing: border-box
}

.l-BMap-top {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #d7dae2;
	box-sizing: border-box;
	padding: 5px 8px
}

.l-BMap-autoAddress .el-icon-search {
	margin-top: 5px
}

.l-BMap-autoAddress .fl {
	float: left
}

.l-BMap-autoAddress .mgr10 {
	margin-right: 8px
}

.l-BMap-autoAddress .title {
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 14px;
	margin-top: 4px
}

.l-BMap-autoAddress .address {
	line-height: 12px;
	font-size: 12px;
	color: #b4b4b4;
	margin-top: 8px;
	margin-bottom: 12px
}

.l-checkbox,
.l-code-mirror {
	position: relative;
	height: 100%;
	width: 100%
}

.l-code-mirror {
	box-sizing: border-box
}

.l-code-mirror .CodeMirror {
	height: 100%;
	width: 100%
}

.l-data-board {
	background-color: #fff;
	min-height: 64px;
	min-width: 64px
}

.l-data-board__icon {
	position: absolute;
	top: 50%;
	margin-top: -32px;
	left: 16px;
	height: 64px;
	width: 64px;
	border-radius: 50%;
	text-align: center;
	line-height: 64px;
	font-size: 36px
}

.l-data-board__text {
	position: absolute;
	top: 50%;
	margin-top: -23px;
	left: 96px
}

.l-data-board__num {
	font-size: 20px;
	font-weight: 600
}

.l-data-board__title {
	margin-top: 4px;
	font-size: 14px;
	color: #666
}

.l-data-board .theme1 {
	background-color: #e1f3d7;
	color: #67c23a
}

.l-data-board .theme2 {
	background-color: #ecf5ff;
	color: #409eff
}

.l-data-board .theme3 {
	background-color: #faecd8;
	color: #e6a23c
}

.l-data-board .theme4 {
	background-color: #fde2e2;
	color: #f56c6c
}

.l-data-list {
	padding: 0 8px
}

.l-data-list--line {
	position: relative;
	width: 100%;
	line-height: 39px;
	border-bottom: 1px solid #ebeef5;
	cursor: pointer
}

.l-data-list--text,
.l-data-list--time {
	color: #333;
	font-size: 14px
}

.l-data-list--time {
	position: absolute;
	top: 0;
	right: 0;
	margin-bottom: 0;
	font-weight: 400
}

.l-data-panel {
	padding-top: 40px;
	background-color: #fff
}

.l-data-panel--title {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #f2f6fc;
	line-height: 39px;
	color: #606266;
	font-size: 14px;
	padding-left: 8px
}

.l-data-panel--label {
	border-left: 4px solid #409eff;
	padding-left: 8px
}
.l-data-panel .el-button--text {
    position: absolute;
    top: 0;
    right: 16px;
}
.l-dialog-dark .el-dialog__header,
.l-dialog .el-dialog__header {
	position: relative;
	box-sizing: border-box;
	height: 40px;
	width: 100%;
	border-radius: 2px 2px 0 0;
	border-bottom: 2px solid #409eff;
	padding: 0
}

.l-dialog-dark .el-dialog__title,
.l-dialog .el-dialog__title {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	line-height: 38px;
	padding-left: 16px;
	color: #606266;
	font-size: 14px
}

.l-dialog-dark .el-dialog__headerbtn,
.l-dialog .el-dialog__headerbtn {
	top: 11px;
	right: 11px
}

.l-dialog-dark .el-dialog__body,
.l-dialog .el-dialog__body {
	padding: 0;
	min-height: 64px;
	width: 100%
}

.l-dialog-dark-window,
.l-dialog-window {
	position: relative;
	width: 100%;
	box-sizing: border-box
}

.l-dialog-dark-window-hasBtns,
.l-dialog-window-hasBtns {
	padding-bottom: 48px
}

.l-dialog-btns,
.l-dialog-dark-btns {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 48px;
	line-height: 48px;
	width: 100%;
	text-align: right;
	padding-right: 10px
}

.l-dialog-dark .el-steps,
.l-dialog .el-steps {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 46px;
	overflow: hidden
}

.l-dialog-dark-window-hasSteps,
.l-dialog-window-hasSteps {
	padding-top: 46px
}

.l-dialog-dark {
	background-color: #1b1e25
}

.l-dialog-dark .el-dialog__title {
	color: #eee
}

.l-dialog-dark .el-button {
	background-color: transparent !important
}

.l-dialog-dark .el-button--default {
	color: #fff !important;
	border-color: #fff !important
}

.l-dialog-dark .el-button--primary {
	color: #409eff !important;
	border-color: #409eff !important
}

.l-dialog-dark .el-button:hover {
	opacity: .8
}

.l-draggable {
	padding: 10px;
	position: absolute;
	cursor: move;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.l-draggable__mask {
	width: 100%;
	height: 100%;
	border: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1
}

.l-draggable--active {
	cursor: move;
	border: 1px dashed #09f;
	background-color: rgba(115, 170, 229, .5)
}

.l-draggable--move {
	opacity: .6;
	background-color: rgba(115, 170, 229, .5)
}

.l-draggable--click {
	cursor: pointer
}

.l-draggable__line--left {
	position: absolute;
	border-top: 1px dashed #09f;
	width: 10000px;
	height: 0;
	top: 0;
	transform: translateX(-100%)
}

.l-draggable__line--top {
	position: absolute;
	border-left: 1px dashed #09f;
	width: 0;
	height: 10000px;
	left: 0;
	transform: translateY(-100%)
}

.l-draggable__line--label {
	top: -5px;
	left: -8px;
	position: absolute;
	padding: 5px;
	transform: translate(-100%, -100%);
	color: #09f;
	font-size: 18px;
	white-space: nowrap;
	cursor: move
}

.l-draggable__menu {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #409eff;
	font-size: 25px;
	color: #fff;
	z-index: 9999;
	cursor: pointer
}

.l-draggable__range {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	z-index: 9999;
	background-color: #09f
}

.l-draggable__range--left,
.l-draggable__range--right {
	top: 50%;
	transform: translateY(-50%)
}

.l-draggable__range--left:hover,
.l-draggable__range--right:hover {
	cursor: ew-resize
}

.l-draggable__range--left {
	left: -6px
}

.l-draggable__range--right {
	right: -6px
}

.l-draggable__range--bottom,
.l-draggable__range--top {
	left: 50%;
	transform: translateX(-50%)
}

.l-draggable__range--bottom:hover,
.l-draggable__range--top:hover {
	cursor: ns-resize
}

.l-draggable__range--top {
	top: -6px
}

.l-draggable__range--bottom {
	bottom: -6px
}

.l-draggable__range--bottom-right:hover,
.l-draggable__range--top-left:hover {
	cursor: nwse-resize
}

.l-draggable__range--bottom-left:hover,
.l-draggable__range--top-right:hover {
	cursor: nesw-resize
}

.l-draggable__range--top-right {
	top: -6px;
	right: -6px
}

.l-draggable__range--top-left {
	top: -6px;
	left: -6px
}

.l-draggable__range--bottom-right {
	bottom: -6px;
	right: -6px
}

.l-draggable__range--bottom-left {
	bottom: -6px;
	left: -6px
}

.el-drawer:focus {
	outline: none
}

.l-drawer--warpper {
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding-top: 40px
}

.l-drawer--header {
	position: absolute;
	height: 40px;
	width: 100%;
	border-bottom: 2px solid #409eff;
	box-sizing: border-box;
	left: 0;
	top: 0
}

.l-drawer--title {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	line-height: 38px;
	padding-left: 16px;
	color: #606266;
	font-size: 14px
}

.l-drawer--btns {
	text-align: right;
	padding-top: 2px;
	padding-right: 5px
}

.l-drawer--body,
.l-drawer--btns {
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: border-box
}

.l-drawer .el-drawer__body {
	position: relative;
	height: 100%
}

.l-drawer-bottom-btns {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 48px;
	line-height: 47px;
	width: 100%;
	text-align: right;
	padding-right: 10px;
	border-top: 1px solid #d7dae2
}

.l-edit-table .el-table thead th,
.l-edit-table .el-table thead tr {
	background-color: #f5f7fa;
	font-weight: 500
}

.l-edit-table .el-table__fixed-right:before,
.l-edit-table .el-table__fixed:before {
	height: 0
}

.l-edit-table .el-table .cell {
	color: #181d1f
}

.l-edit-table--addbtn {
	margin-top: 8px;
	border: 1px dashed #f0f0f0;
	text-align: center;
	cursor: pointer
}

.l-edit-table--addbtn:hover {
	border-color: #66b1ff
}

.l-edit-table .el-checkbox-group {
	height: 23px
}

.l-fullscreen-dialog .el-dialog__body {
	box-sizing: border-box
}

.l-fullscreen-dialog--header {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	height: 57px;
	width: 100%;
	border-bottom: 1px solid #f0f0f0
}

.l-fullscreen-dialog--title {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 16px;
	height: 100%;
	display: flex;
	align-items: center
}

.l-fullscreen-dialog--logo {
	height: 48px;
	align-items: center
}

.l-fullscreen-dialog--title-text {
	line-height: 56px;
	display: inline-block;
	margin: 0;
	font-size: 14px;
	margin-left: 8px
}

.l-fullscreen-dialog--body {
	box-sizing: border-box;
	position: relative;
	height: 100%;
	width: 100%;
	background: #f0f2f5
}

.l-fullscreen-dialog--mid {
	position: relative;
	margin: auto;
	height: 100%;
	width: 480px;
	text-align: center
}

.l-fullscreen-dialog--mid .el-steps--simple {
	background: none;
	padding: 18px 8%
}

.l-fullscreen-dialog--right {
	box-sizing: border-box;
	position: absolute;
	height: 100%;
	line-height: 56px;
	top: 0;
	right: 0;
	padding-right: 14px
}

.l-input-color .el-color-picker {
	height: 100%;
	display: flex
}

.l-input-color .el-color-picker__trigger {
	align-items: center
}

.l-input-color .el-input--small .el-color-picker--mini .el-color-picker__trigger {
	height: 24px;
	width: 24px
}

.l-input-color .el-input--mini .el-color-picker--mini .el-color-picker__trigger {
	height: 23px;
	width: 23px;
	border: 0;
	padding: 2px
}

.l-input-icon,
.l-input-icon .el-input__inner {
	cursor: pointer
}

.l-input-icon-item {
	position: relative;
	float: left;
	height: 64px;
	width: 64px;
	text-align: center
}

.l-input-icon-item .el-button {
	padding: 0;
	height: 56px;
	width: 56px;
	text-align: center;
	line-height: 56px;
	font-size: 16px
}

.l-layout,
.l-layout--container,
.l-layout--wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	transition: all .3s
}

.l-layout--bottom,
.l-layout--left,
.l-layout--right,
.l-layout--top {
	position: absolute;
	overflow: hidden;
	box-sizing: border-box;
	transition: all .3s
}

.l-layout--bottom,
.l-layout--top {
	left: 0;
	height: 0;
	width: 100%;
	max-height: 100%
}

.l-layout--left,
.l-layout--right {
	top: 0;
	height: 100%;
	width: 0;
	max-width: 100%
}

.l-layout--move {
	position: absolute;
	box-sizing: border-box
}

.l-layout--top {
	top: 0;
	padding-bottom: 4px
}

.l-layout--top .l-layout--move {
	bottom: 0;
	left: 0;
	height: 4px;
	width: 100%;
	cursor: row-resize
}

.l-layout--bottom {
	bottom: 0;
	padding-top: 4px
}

.l-layout--bottom .l-layout--move {
	top: 0;
	left: 0;
	height: 4px;
	width: 100%;
	cursor: row-resize
}

.l-layout--left {
	left: 0;
	padding-right: 0px
}

.l-layout--left .l-layout--move {
	top: 0;
	right: 0;
	width: 4px;
	height: 100%;
	cursor: col-resize
}

.l-layout--right {
	right: 0;
	padding-left: 0px
}

.l-layout--right .l-layout--move {
	top: 0;
	left: 0;
	width: 4px;
	height: 100%;
	cursor: col-resize
}

.l-panel {
	padding: 8px
}

.l-panel,
.l-panel--warpper {
	position: relative;
	box-sizing: border-box;
	height: 100%;
	width: 100%
}

.l-panel--warpper {
	background-color: #fff;
	border-radius: 2px
}

.l-panel--body {
	position: relative;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	overflow: hidden auto
}

.l-panel--body-mask {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 100
}

.l-panel--title {
	line-height: 39px;
	color: #606266;
	font-size: 14px;
	padding-left: 8px
}

.l-panel--title,
.l-panel--tool {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #d7dae2
}

.l-panel--tool {
	display: flex;
	justify-content: space-between
}

.l-panel--tool-right {
	padding-right: 6px;
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center
}

.l-panel--tool-left,
.l-panel--tool-right {
	position: relative;
	box-sizing: border-box;
	height: 100%
}

.l-panel--tool-left {
	padding-left: 6px;
	flex-grow: 10000
}

.l-panel--item {
	display: inline-flex;
	height: 100%;
	box-sizing: border-box;
	margin-right: 4px;
	vertical-align: middle;
	align-items: center
}

.l-panel--title-left {
	position: absolute;
	top: 0;
	right: 8px;
	height: 100%;
	text-align: center
}

.l-query {
	position: relative;
	height: 44px;
	width: 100%;
	background-color: #fff;
	padding: 8px;
	box-sizing: border-box;
	overflow: hidden;
	transition: all .3s
}

.l-query-btns {
	position: absolute;
	right: 8px;
	bottom: 8px
}

.l-query2 {
	position: relative;
	height: 40px;
	padding: 6px 0 0 6px;
	box-sizing: border-box;
	overflow: hidden;
	transition: all .3s
}

.l-query2 .el-form-item__content {
	height: 28px
}

.l-query-popper {
	overflow: auto;
	padding-top: 16px;
	padding-right: 16px;
	box-sizing: border-box
}

.l-query-popper,
.l-radio {
	position: relative;
	height: 100%;
	width: 100%
}

.l-select {
	width: 100%
}

.l-select-panel {
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background-color: #f1f2f5
}

.l-select-panel--numText {
	font-size: 12px;
	color: #409eff
}

.l-table {
	position: relative;
	width: 100%;
	box-sizing: border-box
}

.l-table .el-table__expanded-cell[class*=cell] {
	padding: 0;
	padding-left: 27px;
	padding-bottom: 8px;
	padding-right: 8px
}

.l-table--pagination {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 33px;
	width: 100%;
	border-top: 1px solid #dde2ea;
	box-sizing: border-box;
	padding-top: 3px;
	text-align: right
}

.l-table--pagination .el-input--mini .el-input__inner {
	height: 22px;
	line-height: 22px
}

.l-table--pagination .el-input--mini .el-input__icon {
	line-height: 22px
}

.l-table--haspagination {
	padding-bottom: 33px
}

.l-table .el-table--striped .el-table__body tr.el-table__row--striped td {
	background: #f2f5fa
}

.l-table .el-table td,
.l-table .el-table th.is-leaf {
	border-bottom: 1px solid #dde2ea
}

.l-table .el-table__footer td {
	border-bottom: none
}

.l-table .el-table .cell {
	color: #181d1f
}

.l-table .el-table__body tr.hover-row.current-row>td,
.l-table .el-table__body tr.hover-row.el-table__row--striped.current-row>td,
.l-table .el-table__body tr.hover-row.el-table__row--striped>td,
.l-table .el-table__body tr.hover-row>td {
	background-color: #edf3fa
}

.l-table .el-table__fixed-right:before,
.l-table .el-table__fixed:before {
	height: 0
}

.l-table .el-table--border {
	border: none
}

.l-table .el-table--border:after,
.l-table .el-table--group:after,
.l-table .el-table:before {
	height: 0
}

.l-table .el-table thead th,
.l-table .el-table thead tr {
	background-color: #f5f7fa
}

.l-table .el-table--border th.gutter:last-of-type {
	border-bottom: 0;
	border-bottom-width: 0
}

.el-table__expanded-cell>.l-table {
	border-left: 1px solid #dde2ea
}

.el-table__expand-column .cell {
	padding: 0 !important
}

.l-time.el-range-editor.el-input,
.l-time.el-range-editor.el-input__inner {
	width: 100%;
	padding-top: 2px;
	box-sizing: border-box
}

.l-tree-select {
	width: 100%
}

.l-tree-select-popper .el-scrollbar {
	border-radius: 4px
}

.l-tree-select-popper .el-select-dropdown__list {
	padding: 0
}

.l-tree-select-popper .el-select-dropdown__item {
	height: auto;
	padding: 0
}

.l-tree-select-popper .el-select-dropdown__item.selected {
	font-weight: 400
}

.l-tree-select-popper .l-tree-node {
	font-size: 14px;
	color: #181d1f
}

.l-tree-select-popper .l-tree-node .fa {
	font-size: 12px;
	color: #909399;
	display: inline-block;
	text-align: left;
	width: 14px;
	vertical-align: middle;
	margin-top: -2px
}

.l-tree-select-popper .el-tree-node.is-current>.el-tree-node__content {
	background-color: #f0f7ff
}

.l-tree-select-popper .el-tree-node.is-current>.el-tree-node__content .l-tree-node,
.l-tree-select-popper .el-tree-node.is-current>.el-tree-node__content .l-tree-node .fa {
	color: #409eff
}

.l-upload.readonly .el-upload,
.l-upload.readonly .el-upload--picture-card {
	display: none
}

.l-value-to-label {
	min-height: 24px
}

