
.login-container {
 
  width: 100%;
  height: 100%;

  background-color: #f5f6f7;
	background:url("/img/login/login2_bg.jpg") no-repeat;
	background-size: 100% 100%;
  //background: url("http://www.17sucai.com/preview/242158/2015-01-10/%E7%99%BB%E5%BD%95/images/cloud.jpg") 0 bottom repeat-x #049ec4;
  // animation: animate-cloud 20s linear infinite;
}
.login-weaper {
  margin: 0 auto;
  width: 1100px;
  box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.1);
  .el-input-group__append {
    border: none;
  }
}

.login-left,
.login-border {
  position: relative;
  min-height: 500px;
  align-items: center;
  display: flex;
}
.login-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
 box-sizing: border-box;
  float: left;
  width: 50%;
   position: relative;
}

.login-time {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 100%;
  color: #fff;
  font-weight: 200;
  opacity: 0.9;
  font-size: 18px;
  overflow: hidden;
}
.login-left .title {
  margin-top: 60px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 25px;
}

.login-border {
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  background-color: #fff;
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.login-main {
  margin: 0 auto;
  width: 65%;
  box-sizing: border-box;
}
.login-main > h3 {
  margin-bottom: 20px;
}
.login-main > p {
  color: #76838f;
}
.login-title {
  color: #333;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  letter-spacing: 4px;
}
.login-menu {
  margin-top:25px;
  width: 100%;
  text-align: center;
  a {
    color: #999;
    font-size: 12px;
    margin: 0px 8px;
  }
}
.login-submit {
  width: 100%;
  height: 58px;
 
  background: #317cf8 !important;
  background: none;
  font-size: 18px;
  letter-spacing: 2px;
  font-size: 20px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  margin-top: 30px;
  font-family: "neo";
 
}
.login-form {
  margin: 10px 0;
  i {
    color: #333;
  }
  .el-form-item__content {
    width: 100%;
  }
  .el-form-item {
    margin-bottom: 12px;
  }
  .el-input {
    input {
      padding-bottom: 10px;
      text-indent: 5px;
      background: transparent;
      border: none;
      border-radius: 0;
      color: #333;
      border-bottom: 1px solid rgb(235, 237, 242);
    }
    .el-input__prefix {
      i {
        padding: 0 5px;
        font-size: 16px !important;
      }
    }
  }
}
.login-code {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 10px;
}
.login-code-img {
  margin-top: 2px;
  width: 100px;
  height: 38px;
  background-color: #fdfdfd;
  border: 1px solid #f0f0f0;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 38px;
  text-indent: 5px;
  text-align: center;
}

//登录页面修改样式
.login_logo{
	width:100%;
	position:absolute;
	top:-120px;	
	text-align: center;
}
.login_pic{
	 border-right: 1px solid #eee;
	  box-sizing:border-box;  
	  width:100%;
}
.login_pic .img {
   display: block;
   width:76%;
   margin: 20px auto 20px auto;   
}
.login-form .el-input .el-input__prefix i.icon-yonghu,.login-form .el-input .el-input__prefix i,.login-form .el-input .el-input__prefix i.icon-mima,.login-form .el-input .el-input__prefix i.icon-shouji,.login-form .el-input .el-input__prefix i.icon-yanzhengma{
	font-size: 22px !important;
	color:#0ba1f8;
	margin-bottom: 10px;
	display: inline-block;
	font-weight: bold;
}
.login-form .el-input .el-input__prefix i.icon-yanzhengma{
	font-size: 20px !important;
	margin-top:12px !important;
}
.login-form .el-input input{
	font-size: 18px;
	padding:0px 10px 8px 40px;
	line-height: 50px;
	height: 50px;
}
.el-icon-view {
	font-size: 18px;
	cursor: pointer;
	line-height: 20px;
}

.login-main .el-form-item__content{
	line-height: 50px;
}

.login-container .el-input-group__append{
	background-color: rgba(19,49,102,0.7);
	border: none;
	padding:8px 0px;
	outline: none;
	color: rgba(255,255,255,0.5);
	font-size: 12px!important;
	cursor: pointer;
	position: absolute;
	right: 8px;
	top: 9px;
	width:84px;
	border-radius:0px!important;
	text-align:center;
}
.login-container .el-input-group__append:hover{
	background-color: rgba(19,49,102,1);
	 color: rgba(255,255,255,1);
}
.submit_btn{
	margin-top:18px;
}
.submit_btn>input{
	width: 100%;
	height: 56px;
	background: #20a3f5;
	font-size: 22px;
	border:none;
	outline: none;
	cursor: pointer;
	color: #fff;
	margin-top: 30px;
}
.login-submit:hover,.submit_btn>input:hover{
	box-shadow: 3px 4px 10px rgba(49,124,248,0.5);
}
.f_passworld{
	
	color: rgba(255,255,255,0.5);
	font-size: 14px;
	display: block;
	margin:5px auto 0px auto;
	line-height: 36px;
}
.f_passworld:hover{
	color: #fff;
	
}
.login_foot{
	font-size: 14px;
	color:#ccc;
	text-align: center;
	position: absolute;
	bottom: -80px;
	width:100%;
}
.login-weaper{
	position: relative;
}
.login_rwm{
	position: absolute;
	right: 25px;
	top:25px;
}

.login-menu a{
	font-size: 14px;
	outline: none;
	margin:0px 25px!important;
}
.login-menu a:hover{
	
	color: #fff;
	transition: all 0.8s;
	text-decoration:underline;
}

.login-weaper .el-input-group__append{
	cursor: pointer;
	
}
.msg-text{
	width:84px!important;
}

.logobox_right{
	float: left;
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.loginbox_left{
	
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}
.loginbox_left img{
	display: block;
	    width: 94%;
	    position: absolute;
	    top: 47%;
	    left: 42%;
	    -ms-transform: translate(-50%, -47%);
	    transform: translate(-50%, -47%);
}
.login_con{
	width: 100%;
	    position: absolute;
	    top: 48%;
	    left: 50%;
	    padding: 0px 24% 0px 8%;
	    box-sizing: border-box;
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}
.loginbox_logo{
	display: block;
	width: 100%;
}
.login_box{
			padding:35px 55px;
			box-sizing: border-box;
			margin-top: 40px;
			width:100%;
			border: 3px solid rgba(32,163,245,0.5);;
			background-color: rgba(32,163,245,0.1);
			position: relative;
		}
.login_edges1{
			display: block;
			position: absolute;
			top:-3px;
			left:-3px;	
		}
		.login_edges2{
			display: block;
			position: absolute;
			top:-3px;
			right:-3px;	
			transform: rotateY(180deg);
			-webkit-transform: rotateY(180deg); /* Safari 与 Chrome */
		}
		.login_edges3{
			display: block;
			position: absolute;
			bottom:-3px;
			left:-3px;	
			transform: rotateX(180deg);
			-webkit-transform: rotateX(180deg); /* Safari 与 Chrome */
		}
		.login_edges4{
			display: block;
			position: absolute;
			bottom:-3px;
			right:-3px;	
		}
		.loginbox_title{
			text-align: center;
			font-size: 30px;
			color: #00bff4!important;
			margin:15px 0 20px 0px;		
		}
		.login_input{
			width: 100%;
			border: 3px solid rgba(32,163,245,0.5);;
			background-color: rgba(32,163,245,0.3);
			height: 50px;
			outline: none;
			font-size: 16px;
			color: #fff;
			margin-top:8px;
			
		}
		.login_input input::-webkit-input-placeholder{
		    color: #20a3f5;
		}
		.input_box{
			position: relative;
			margin-top: 26px;
		}
		.login_icon{
			display: block;
			width: 22px;
			position: absolute;
			top:17px;
			left: 24px;
		}
		.login_but{
			position: absolute;
			right:8px;
			top:12px;
			background-color: rgba(19,49,102,0.7);
			border:none;
			outline: none;
			color:rgba(255,255,255,0.5);
			padding:8px 12px;
			font-size: 12px;
			cursor: pointer;	
		}
.login-form .el-input input{
			// border:none!important;
			font-size: 16px!important;
			// color:#fff!important;
			line-height: 50px!important;
		}
		.login_but:hover{
			background-color: rgba(19,49,102,1);
			color:rgba(255,255,255,1);
		}
		.forget_password{
			display:inline-block;
			font-size: 14px;
			color:rgba(255,255,255,0.4);
			padding:10px 0;
			text-decoration: none;
		}
		.forget_password:hover{
			color:rgba(255,255,255,1);
		}
		.login_but2{
			width: 100%;
			height: 56px;
			background: #20a3f5;
			font-size: 22px;
			border:none;
			outline: none;
			cursor: pointer;
			color: #fff;
			margin-top:20px;
			border-radius: 0px!important;
		}
		.login_tab{
			width: 100%;
			text-align: center;
			padding:25px 0px 5px 0px;
		}
		.login_tab b{
			font-weight: normal;
			cursor: pointer;
			font-size: 14px;
			color: rgba(255,255,255,0.5);
			padding:0 20px;
		}
		.login_tab b:hover{
			color: #fff;
		}
		.login_tab b.active{
			color: #fff;
		}
		.wechat_login{
			width: 80%;
			display: block;
			margin: 20px auto;
			text-align: center;
			font-size: 16px;
			background-color: rgba(24,136,203,0.3);
			border:2px solid #196ba6;
			padding:15px 0;
			color: #20a3f5;
			text-decoration: none;	
		}
		.wechat_login:active{
				background-color: rgba(24,136,203,1);
				color: #fff;
		}		
		